{% extends "layouts/base.html" %}
{% load static %}

{% block title %} HTML5 Links {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock stylesheets %}

{% block content %}
<a id="link1" class="link-box" href="https://www.qu.edu.sa" target="_blank">
    Go to QU website (open a new tab)
</a>

<a id="link2" class="link-box" href="https://www.qu.edu.sa">
    Go to QU website (open in the same page/tab)
</a>

<a id="link3" class="link-box" href="https://www.qu.edu.sa">
    Go to QU website (open in the same page/tab)
</a>
{% endblock content %}