{% extends "layouts/base.html" %}
{% load static %}

{% block title %} HTML5 Tables {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock stylesheets %}

{% block content %}
<!-- Table 1 -->
<div class="table-caption">
    Table 1: Table of Fruits and Their Prices
</div>
<table class="custom-table">
    <thead>
        <tr>
            <th>Fruit</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Apple</td>
            <td>$0.25</td>
        </tr>
        <tr>
            <td>Orange</td>
            <td>$0.50</td>
        </tr>
        <tr>
            <td>Banana</td>
            <td>$1.00</td>
        </tr>
        <tr>
            <td>Pineapple</td>
            <td>$2.00</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th>$3.75</th>
        </tr>
    </tfoot>
</table>

<br>

<!-- Table 2 -->
<div class="table-caption">
    Table 2: A more complex sample table
</div>
<table class="custom-table">
    <tbody>
        <tr>
            <!-- دمج صفوف للصورة -->
            <td rowspan="4">
                <img src="{% static 'book1.jpg' %}" alt="Camel image" width="200" height="150"><br>
                <strong>Dromedary</strong><br>
                <strong>Camels (bactrian)</strong><br>
                <strong>Llamas</strong>
            </td>
            <td colspan="4">
                <strong>Camelid comparison</strong><br>
                Approximate as of 6/2011
            </td>
        </tr>
        <tr>
            <th># of humps</th>
            <th>Indigenous region</th>
            <th>Spits?</th>
            <th>Produces wool?</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Arabian Peninsula</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Africa/Asia</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Andes Mountains</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>
{% endblock content %}